<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<title>JJMaps Project - Add/Edit/Remove Chapters</title>
	<script type = "text/javascript" src = '../js/visualutils.js'></script>
	<script type = "text/javascript" src = '../js/ajaxutils.js'></script>
	<link type = "text/css" rel="stylesheet" href="../stylesheets/jjstyles.css" ></link>
</head>
<body>
	<h3>
	{% if chapter %}
	Update existing chapter{% else %}Create a new chapter
	{% endif %}
	</h3>
	<form action = "/chapters/update" method = "post">
		<div class = "fl fullw">
			<label class = 'label norm fl'>Chapter Name</label> 
			<input type = "text" name = "chaptername" value = "{{chapter.name}}" />
			<span class = 'ital small lhsmall'>i.e. North Suburban Atlanta</span>
		</div>
		<div class = "fl fullw">
			<label class = 'label norm fl'>State (2-letter abbrevs.)</label> 
			<input type = "text" name = "chapterstate" size=2 value = "{{chapter.state}}" />
			<span class = 'ital small lhsmall'>i.e. GA</span>
		</div>
		<div class = "fl fullw">
			<label class = 'fl label norm'>Zipcodes in Chapter (leave blank if none) </label>
			<textarea name = "chapterzips" rows = "5" cols = "30" />{{chapter.zips|join:', '|cut:"Null"}}</textarea>
			<span class = 'ital small lhsmall'>i.e. 30068, 30327, 38053|TN</span>
		</div>
		<div class = "fl fullw">
			<label class = 'fl label norm'>Counties in Chapter (leave blank if none) </label>
			<textarea name = "chaptercounties" rows = "5" cols = "30" />{{chapter.counties|join:', '|cut:"Null"}}</textarea>
			<span class = 'ital small lhsmall'>i.e. Cobb, Fulton, Tunica|MS</span>
		</div>
		<div class = "fl fullw">
			<label class = 'fl label'>&nbsp;</label>
			{% if chapter %}
				<input type = "hidden" name = "chapterkey" value = "{{chapter.key}}" />
				<input type = "submit" value = "Update" />
			{% else %}
				<input type = "submit" value = "Create" />
			{% endif %}
			<a href = "/chapters">Clear</a>
		</div>
	</form>
	<div class = "cl">
		<ul class = "list fl fullw pls" style = "height:25px;">
			{% if selectedtab == "all" %}
				<li class = "bold fl prm mrs brs mtt">All</li>
			{% else %}
				<a href = "/chapters"><li class = "fl prm mrs brs mtt">All</li></a>
			{% endif %}
			
			{% for region in regions %}
				{% if region.key == regionobj.key %}
					<li class = "bold fl prm mrs brs mtt">{{region.name}}</li>
				{% else %}
					<a href = "/chapters?regionkey={{region.key}}"><li class = "fl prm mrs brs mtt">{{region.name}}</li></a>
				{% endif %}
			{% endfor %}
			
			{% if selectedtab == "unassigned" %}
				<li class = "bold fl prm mrs brs mtt">Unassigned</li>
			{% else %}
				<a href = "/chapters?regionkey=unassigned"><li class = "fl prm mrs brs mtt">Unassigned</li></a>
			{% endif %}
			
			<a class = "fl mtt" onclick = "showCreateRegionForm()" id = "create-region-link"><li class = "fl prm mrs">+Add a region</li></a>
			<li class = "hidden fl" id = "create-region-form">
				<form action = "/regions/create" method = "post">
					<span>Name of region: </span>
					<input type = "text" name = "regionname" size = 20 />
					<input type = "submit" value = "Add Region" />
					<a class = "" onclick = "hideCreateRegionForm()">Cancel</a>
				</form>
			</li>
		</ul>
		
		
		{% regroup chapters|dictsort:"state" by state as states %}
		<ul class = "list plm">
		{% for state in states %}
			<li><span class = "bold">{{state.grouper}} - </span>
				{% if selectedtab == "unassigned" %}
				<span id = "{{state.grouper}}-add-region-link"><a onclick = "showAddRegionForm('{{state.grouper}}')">Add to a Region</a></span>
				{% endif %}
				<select onchange = "addToRegion(this)" class = "hidden" id = "{{state.grouper}}-add-region-form">
					<option value = "">Select a region...</option>
					{% for region in regions %}
						<option value = "{{region.key}},{{state.grouper}}">{{ region.name }}</option>
					{% endfor %}
				</select>
			
			
				<ul class = "list plb">
					{% for chap in state.list %}
					<li>
						<span class = 'fl {% if chapter.key == chap.key %}bold highlight ital{% endif %}' style = "width:200px;">{{chap.name}}</span>
						<a class = 'plm' href = "/map?chapterkey={{chap.key}}">Show on Map</a>
						<a class = 'plm' href = "/chapters?chapterkey={{chap.key}}&regionkey={{selectedtab}}">Edit</a>
						<a class = 'plm' href = "/chapters/delete?chapterkey={{chap.key}}">Delete</a>
					</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>
	</div>
</body>
</html>